<settings>
	<page name="appearance" description="Graphical settings">
		<section name="header" description="Header">
			<option name="font" description="Font" mode="rw" type="font">
				<family>tkDefaultFont</family>
				<size>25</size>
			</option>
			<option name="fg" description="Color" mode="rw" type="color">black</option>
            <section name="separator" description="Separator">
                <option name="height" description="Height" mode="rw" type="natural">1</option>
                <option name="fg" description="Color" mode="rw" type="color">black</option>
            </section>
        </section>
        <section name="puzzle" description="Puzzle">
        	<option name="bg" description="Background color" mode="rw" type="color">white</option>
        	<section name="cell" description="Cells">
           		<option name="size" description="Size" mode="rw" type="natural">33</option>
        	</section>
        	<section name="colors" description="Cell coloring">
        		<option name="letter" description="Selected letter" mode="rw" type="color">yellow</option>
        		<option name="word" description="Selected word" mode="rw" type="color">light blue</option>
        		<option name="empty" description="Empty cell" mode="rw" type="color">black</option>
        		<option name="correct" description="Correct cell" mode="rw" type="color">green</option>
        		<option name="incorrect" description="Incorrect cell" mode="rw" type="color">red</option>
        	</section>
        </section>
		<section name="clues" description="Clues">
			<option name="font" description="Font" mode="rw" type="font">
				<family>tkDefaultFont</family>
				<size>10</size>
			</option>
			<option name="fg" description="Color" mode="rw" type="color">black</option>
		</section>
		<section name="chat" description="Chat">
			<option name="font" description="Font" mode="rw" type="font">
				<family>tkDefaultFont</family>
				<size>0</size>
			</option>
			<option name="fg" description="Color" mode="rw" type="color">black</option>
			<option name="colors" description="Use chat colors" mode="rw" type="boolean">True</option>
		</section>
	</page>
	<page name="controls" description="Controls">
		<section name="behavior" description="Behaviors">
			<option name="on_double_arrow" description="On double arrow key" mode="rw" type="choice">
				0
				<choice>move in direction</choice>
				<choice>stay in cell</choice>
			</option>
            <option name="on_space" description="On space key" mode="rw" type="choice">
				0
				<choice>clear and skip</choice>
				<choice>change direction</choice>
			</option>
            <option name="on_enter" description="On enter key" mode="rw" type="choice">
				0
				<choice>next word</choice>
			</option>
            <option name="on_tab" description="On tab key" mode="rw" type="choice">
				0
				<choice>next word</choice>
			</option>
            <option name="on_last_letter" description="On last letter go to" mode="rw" type="choice">
				0
				<choice>next word</choice>
				<choice>first cell</choice>
				<choice>same cell</choice>
			</option>
            <option name="on_filled_letter" description="On filled letter" mode="rw" type="choice">
				0
				<choice>go to next cell</choice>
				<choice>stay in cell</choice>
			</option>
		</section>
	</page>
    <page name="network" description="Networking">
		<section name="server" description="Server settings">
			<option name="ip" description="Server IP address" mode="rw" type="ip">127.0.0.1</option>
			<option name="port" description="Server port" mode="rw" type="port">50000</option>
		</section>
	</page>
</settings>



